#*
*#
*.swp
*~
.DS_Store
.dev_builds
.final_builds/jobs/**/*.tgz
.final_builds/packages/**/*.tgz
.idea
.ruby-version
.vagrant
.blobs
blobs
config/dev.yml
config/private.yml
dev_releases
releases/**/*.tgz
releases/*.tgz
src/*
